extends layout
block css
    link(rel='stylesheet', href='/stylesheets/game.css')
block content
  .gameid(style="hidden", gameid=games.id)
  //- div(style="position: relative; overflow: hidden; width: 100%;")
  .col-lg-6.float-right
    .card(style='background-color: rgba(255, 255, 255, 0.6);')
      ul#thread(style='width: auto; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
      form#gameChat
        #user #{user.email}
        input#message(type="text" placeholder="message" style='width:auto;')
        input(type="submit" value="Send")
  .chessboard(style="position: relative")
    - var row = 0
    while row++ < 8
      - var col = 0
      while col++ < 8
        if row % 2 === 0
          if col % 2 === 0
            .cell(row = row, col = col, white)                     
          else
            .cell(row = row, col = col, black)
        if row % 2 === 1
          if col % 2 === 0
            .cell(row = row, col = col, black)
          else
            .cell(row = row, col = col, white)
    each piece in pieces
      if !piece.captured
        if piece.user_id === games.white
          if piece.piece_id === 1
            .piece(pieceid = piece.id, row=piece.y, col=piece.x, captured=piece.captured,playerID=piece.user_id, piecetype = piece.piece_id, piececolor = "white") &#9817;
          else if piece.piece_id === 2
            .piece(pieceid = piece.id, row=piece.y, col=piece.x, captured=piece.captured,playerID=piece.user_id, piecetype = piece.piece_id, piececolor = "white") &#9816;
          else if piece.piece_id === 3
            .piece(pieceid = piece.id, row=piece.y, col=piece.x, captured=piece.captured,playerID=piece.user_id, piecetype = piece.piece_id, piececolor = "white") &#9815;
          else if piece.piece_id === 4
            .piece(pieceid = piece.id, row=piece.y, col=piece.x, captured=piece.captured,playerID=piece.user_id, piecetype = piece.piece_id, piececolor = "white") &#9814;
          else if piece.piece_id === 5
            .piece(pieceid = piece.id, row=piece.y, col=piece.x, captured=piece.captured,playerID=piece.user_id, piecetype = piece.piece_id, piececolor = "white") &#9813;
          else if piece.piece_id === 6
            .piece(pieceid = piece.id, row=piece.y, col=piece.x, captured=piece.captured,playerID=piece.user_id, piecetype = piece.piece_id, piececolor = "white") &#9812;
        else
          if piece.piece_id === 1
            .piece(pieceid = piece.id, row=piece.y, col=piece.x, captured=piece.captured,playerID=piece.user_id, piecetype = piece.piece_id, piececolor = "black") &#9823;     
          else if piece.piece_id === 2
            .piece(pieceid = piece.id, row=piece.y, col=piece.x, captured=piece.captured,playerID=piece.user_id, piecetype = piece.piece_id, piececolor = "black") &#9822;
          else if piece.piece_id === 3
            .piece(pieceid = piece.id, row=piece.y, col=piece.x, captured=piece.captured,playerID=piece.user_id, piecetype = piece.piece_id, piececolor = "black") &#9821;
          else if piece.piece_id === 4
            .piece(pieceid = piece.id, row=piece.y, col=piece.x, captured=piece.captured,playerID=piece.user_id, piecetype = piece.piece_id, piececolor = "black") &#9820;
          else if piece.piece_id === 5
            .piece(pieceid = piece.id, row=piece.y, col=piece.x, captured=piece.captured,playerID=piece.user_id, piecetype = piece.piece_id, piececolor = "black") &#9819;
          else if piece.piece_id === 6
            .piece(pieceid = piece.id, row=piece.y, col=piece.x, captured=piece.captured,playerID=piece.user_id, piecetype = piece.piece_id, piececolor = "black") &#9818;
  block scripts
    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    script(src="/socket.io/socket.io.js")
    script(src='/js/game.js')
    script(src='../js/gameChat.js')


          

